<html>
<head>
	<title>WEBTECH-lui</title>
    <link type="text/css" rel="stylesheet" href="/stylesheets/main.css" />
  </head>

  <body>
<div>
	<div>	<h1>Blog About Solution JSFddle</h1><br></div>
<div>
<iframe style="width: 100%; height: 300px;" src="http://jsfiddle.net/lash_developer/AYQec/1/embedded/" allowfullscreen="allowfullscreen" frameborder="0"></iframe>

<h2>Comments about this solution:</h2><br>
    <form action="/sign" method="post">
      <div><textarea name="content" rows="3" cols="60">write here your comments.</textarea></div>
      <div><input type="submit" value="Comment"></div>
    </form>

    <a href="{{ url }}">{{ url_linktext }}</a>

</div>

    {% for greeting in greetings %}
      {% if greeting.author %}
        <b>{{ greeting.author.nickname }}</b> wrote:
      {% else %}
       An anonymous person wrote:
      {% endif %}
      <blockquote>{{ greeting.content|escape }}</blockquote>
    {% endfor %}
<div>
</div>
</div>
  </body>
</html>
